@font-face {
  font-family: light;
  src: url("./LufgaLight.ttf");
}
@font-face {
  font-family: reg;
  src: url("./LufgaRegular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
}
nav {
  padding: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > h2 {
  font-family: reg;
  color: white;
}
.options {
  padding: 5px 30px;

  border-radius: 50px;
  color: white;
  background-color: #1a1a1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options > a {
  text-decoration: none;
  color: white;
  border: none;
  padding: 10px 20px;
  position: relative;
  font-family: light;
}

.options > a::after {
  content: "";
  display: block;
  width: 24px;
  position: absolute;
  height: 3px;
  background: #d5fa02;
  border-radius: 2px;
  margin: 10px 20% 10px 20%;
  opacity: 0;
  transition: opacity 0.2s;
}

.options > a:hover::after {
  opacity: 1;
}
.icn {
  padding: 5px;
  gap: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icn > i {
  font-size: larger;
  color: white;
}
.icn button {
  padding: 18px 35px;
  border-radius: 50px;
  background-color: transparent;
  border: 1px solid #d5fa02;
  color: white;
}

.head-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-top: 40px;
}
.head-text > h1 {
  font-family: light;
  font-weight: 100;
  font-size: 80px;
}
.head-text > h1:nth-child(2) {
  font-family: reg;
  font-weight: 600;
}

#arrow {
  position: absolute;
  height: 100px;
  left: 25%;
  top: 35%;
}

.hero {
  display: flex;
  justify-content: space-around;
  padding: 0px 100px;
  align-items: center;
}
.monkey4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.monkey4 > img {
  background-color: #1a1a1c;
  border-radius: 100px;
  padding: 20px;
  align-self: center;
}
.monkey4 > p {
  width: 230px;
  color: white;
  font-family: light;
  text-align: justify;
}

.update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: white;
  font-family: reg;
}
.update > div > h1 {
  font-size: 50px;
}
.update > div > p {
  font-size: 15px;
}
.update > img {
  height: 80px;
  margin-top: 10px;
}
.line {
  width: 150px;
  height: 1px;
  margin-top: 20px;
  background-color: #d5fa02;
}

/* page 2 */

#main2 {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.trending {
  color: white;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: light;
}
.trending h3 {
  color: #d5fa02;
}

.buttons button {
  padding: 15px 25px;
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid #dadada;
  color: white;
}

.buttons > button i {
  font-size: 30px;
}
.buttons button:nth-child(2) {
  background-color: white;
  color: black;
}
#arrow2 {
  position: absolute;
  height: 100px;
  right: 70%;
  bottom: -25%;
}
#clip {
  background-color: #490383;
  width: 220px;
  height: 280px;
  border: 5px solid #aaaaaa;
  clip-path: polygon(
    39% 0,
    51% 15%,
    99% 15%,
    100% 100%,
    50% 100%,
    49% 87%,
    1% 87%,
    0 0
  );
}
#clip > img {
  height: 200px;
  object-fit: cover;
  transform: translateX(-50px);
  margin-top: 45px;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  height: 70%;
}
#card {
  background-color: #1a1a1c;
  color: white;
  font-family: light;
  position: relative;
  padding: 20px;
  border-radius: 10px;
}

#time > p:nth-child(1) {
  position: absolute;
  right: 20%;
  top: 3%;
}
#time > p:nth-child(2) {
  position: absolute;
  right: 15%;
  bottom: 84%;
}

.eth {
  display: flex;
  font-size: 13px;
  align-items: center;
}

.eth > i {
  position: absolute;
  left: 7%;
  bottom: 8%;
  color: orange;
}
.eth > p {
  position: absolute;
  left: 15%;
  bottom: 8%;
}
.cardcom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.cardcom > button {
  display: flex;
  background-color: #1a1a1c;
  border: none;
  padding: 15px 40px;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 3px 1px #490383;
}
